# Fetching Data from an API

- Get api key [TMDB](https://www.themoviedb.org/)
- Get api url [Developer TMDB](https://developer.themoviedb.org/)
- Free Public APIs for Developers [RAPID](https://rapidapi.com/collection/list-of-free-apis)

In [1]:
import requests
import pandas as pd

In [2]:
url = "https://api.themoviedb.org/3/movie/top_rated?api_key=86dd8e2da9d8629ab9a70f8111ed29c4&language=en-US&page=1"

response = requests.get(url)

In [3]:
cols = ['id','title','overview','release_date','popularity','vote_average','vote_count']

temp_df = pd.DataFrame(response.json()['results'])[cols]

In [4]:
temp_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,156.311,8.7,18321
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,100.706,8.7,24242
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,69.032,8.6,11057
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,35.191,8.6,4193
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,74.187,8.6,14331

In [5]:
total_pages = response.json()['total_pages']

total_result = response.json()['total_results']

total_pages, total_result

(567, 11330)

### Collecting Data from all Pages

In [6]:
df = pd.DataFrame()

In [7]:
def get_response(page_no):
    url = f"https://api.themoviedb.org/3/movie/top_rated?api_key=86dd8e2da9d8629ab9a70f8111ed29c4&language=en-US&page={page_no}"
    return requests.get(url)

In [8]:
cols = ['id','title','overview','release_date','popularity','vote_average','vote_count']

In [9]:
for page in range(1, 501):
    # limitiation: page must be less than or equal to 500
    response = get_response(page)
    temp_df = pd.DataFrame(response.json()['results'])[cols]
    
    # Concatenate the temp_df with the main DataFrame and reset the index
    df = pd.concat([df, temp_df], ignore_index=True)

In [10]:
df

,id,title,overview,release_date,popularity,vote_average,vote_count
0,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,156.311,8.7,18321
1,278,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,1994-09-23,100.706,8.7,24242
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,69.032,8.6,11057
3,19404,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,35.191,8.6,4193
4,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,74.187,8.6,14331
...,...,...,...,...,...,...,...
9995,244516,Indovina chi viene a Natale?,A very extended family gathers for the Christm...,2013-12-19,4.923,5.6,338
9996,39451,Little Fockers,"It has taken 10 years, two little Fockers with...",2010-12-21,25.027,5.6,2991
9997,8277,American Pie Presents: Beta House,"Erik, Ryan, and Cooze start college and pledge...",2007-12-26,56.123,5.6,1728
9998,219318,The Volcano,The eruption of the Icelandic volcano Eyjafjal...,2013-10-02,7.006,5.6,602
9999,38358,The Last Exorcism,After years of performing “exorcisms” and taki...,2010-08-27,22.553,5.6,917

In [11]:
df.shape

(10000, 7)

In [12]:
df.to_csv('movies.csv')